<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" initial-scale=1>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/registration.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<title>Registration Failed</title>
</head>
<body>
	<div class="row">
		<div class="col-sm-4">
		</div>
		<div class="col-sm-4">
			<div class="failure-caption">
				<h2 id="hello-failure"> Hello!! from <img src="/static/images/logo.jpg" alt="SPark logo"></h2>
				<br><br>
				<h3> It seems there is some problem in {{from}} registration. Please try again.</h3>
			</div>	
		</div>
		<div class="col-sm-4">
		</div>
	</div>
</body>
</html>