<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" initial-scale=1>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/css/registration.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/w3.css">

<title>SPark- User and Parking owner registration</title>
</head>
<body>
	<div class="video-bg">
		<video  loop autoplay muted class="video-bg-full">
  		<source src="/static/images/SPark.mp4" type="video/mp4">
  			Your browser does not support the video tag
  		</video>
  	</div>			

	<div class="container-fluid">
		<div class="row">
			<br><br>
		</div>
		<div class="row">
			<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
				<div class="center">
					<div class="header-logo">
						<img src="/static/images/logo.jpg" alt="SPark logo">
					</div>
					<div class="row">
						<br><br><br><br><br><br>
					</div>
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<a href="localhost:8000/Registration/User" target="_blank" class="w3-btn w3-hover-orange w3-round">User Registration</a>		
						</div>	
						<div class="col-sm-2"></div>
					</div>
						<br><br><br><br><br><br>
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-8">
							<a href="localhost:8000/Registration/Parking" target="_blank" class="w3-btn w3-hover-orange w3-round">Parking Registration</a>
						</div>
						<div class="col-sm-2"></div>
					</div>	

				</div>	
			</div>
			<div class="col-sm-4">
			</div>
			
		</div>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<a href="https://github.com/daas-ankur-shukla/SPark"><i class="fa fa-github" style="font-size:44px"></i></a>
			</div>
			<div class="col-sm-4">
				
			</div>
			<div class="col-sm-4">
			</div>	
		</div>
	</div>	
</body>
</html>