<!DOCTYPE html>
<html>

<head>
  {% load static %}
    <link rel="stylesheet" href="{% static "location_static/css/ol.css" %}" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 400px;
        }
    </style>
    <script src="{% static "location_static/js/v3.19.1/build/ol.js" %}" type="text/javascript"></script>
    <meta charset="ISO-8859-1">
    <title>Location Map</title>
</head>

<body>
    <h2>User Map</h2>
    <div id="map" class="map"></div>
    <label for="s_loc">source location
    <input type="text" id="s_loc" />
    </label>
    <label for="d_loc">destination location
    <input type="text" id="d_loc" />
    </label>
    <input type="text" id="tracking" />
    <label for="track">track me
      <input id="track" type="checkbox" />
    </label>
    <script>
    var mousePositionControl = new ol.control.MousePosition({
        coordinateFormat: ol.coordinate.createStringXY(4),
        projection: 'EPSG:4326',
        // comment the following two lines to have the mouse position
        // be placed within the map.
        className: 'custom-mouse-position',
        target: document.getElementById('mouse-position'),
        undefinedHTML: '&nbsp;'
      });

    var lat=0;
    var lon=0;
    var zooml=0;
    var view=new ol.View({
      center: ol.proj.fromLonLat([lon, lat]),
      zoom: zooml
    })
    var map = new ol.Map({
      controls: ol.control.defaults({
          attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
            collapsible: false
          })
        }).extend([mousePositionControl]),
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
        })
      ],
      view: view
    });
    var geolocation = new ol.Geolocation({
      projection: view.getProjection()
    });

    function el(id) {

      return document.getElementById(id);
    }

    el('track').addEventListener('change', trigger);


    var accuracyFeature = new ol.Feature();
    geolocation.on('change:accuracyGeometry', function() {
      accuracyFeature.setGeometry(geolocation.getAccuracyGeometry());
    });


    var positionFeature = new ol.Feature();
    positionFeature.setStyle(new ol.style.Style({
      image: new ol.style.Circle({
        radius: 6,
        fill: new ol.style.Fill({
          color: '#3399CC'
        }),
        stroke: new ol.style.Stroke({
          color: '#fff',
          width: 2
        })
      })
    }));

    geolocation.on('change:position', function() {
      var coordinates = geolocation.getPosition();
      positionFeature.setGeometry(coordinates ?
          new ol.geom.Point(coordinates) : null);
          zoom=14;
          display_co(coordinates,'s_loc');
    });

    new ol.layer.Vector({
      map: map,
      source: new ol.source.Vector({
        features: [accuracyFeature, positionFeature]
      })
    });

    map.on('click', function(event) {
         // extract the spatial coordinate of the click event in map projection units
         var coord = event.coordinate;
         // transform it to decimal degrees
         var degrees = ol.proj.transform(coord, 'EPSG:3857', 'EPSG:4326');
         // format a human readable version
         var hdms = ol.coordinate.toStringHDMS(degrees);
         display_co(coord,'d_loc');
       });
    function trigger() {
      if (el('track').checked == true)
      {
        el('tracking').value = 'tracking';
        geolocation.setTracking(this.checked);


      } else{
        el('tracking').value = 'not tracking';
        geolocation.setTracking(this.checked);
      }
    };

    function display_co(co,id){
      // extract the spatial coordinate of the click event in map projection units
          var coord = co;
          // transform it to decimal degrees
          var degrees = ol.proj.transform(coord, 'EPSG:3857', 'EPSG:4326');
          // format a human readable version
          var hdms = ol.coordinate.toStringHDMS(degrees);
          // update the overlay element's content
          el(id).value=hdms;
    }


    </script>

</body>
</html>
